<!DOCTYPE html>
<html>
<head>
    <title>Add Listing</title>
</head>
<body>

    <p><a href="{% url 'ds_main' %}">< Back to Device Sharing</a></p>

    <h2>Add a Listing</h2>
    <form method="post">
        {% csrf_token %}
        <label for="device">Select Device:</label>
        <select name="device_id" id="device">
            {% for device in devices %}
                <option value="{{ device.device_id }}">{{ device.name }}</option>
            {% endfor %}
        </select>
    
        <label for="condition">Condition:</label>
        <select name="condition" id="condition">
            <option value="new">New</option>
            <option value="average">Average</option>
            <option value="old">Old</option>
        </select>
    
        <button type="submit">Add Listing</button>
    </form>
    

</body>
</html>
