<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Automation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Add New Automation</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="name">Automation Name:</label>
            <input type="text" name="name" required>
                
            <br>
            <label for="trigger_time">Trigger time:</label>
            <input type="time" name="trigger_time" required>
        
            <br>
            <label for="devices_on">Select Devices to Turn ON:</label><br>
            {% for device in devices %}
                <input type="checkbox" name="devices_on" value="{{ device.device_id }}"> {{ device.name }} #{{ device.device_number }} ({{ device.room.name }}) <br>
            {% endfor %}
            
            <br>
            <label for="devices_off">Select Devices to Turn OFF:</label><br>
            {% for device in devices %}
                <input type="checkbox" name="devices_off" value="{{ device.device_id }}"> {{ device.name }} #{{ device.device_number }} ({{ device.room.name }}) <br>
            {% endfor %}
            
        
            <button type="submit">Create Automation</button>
        </form>
        
        <p><a href="{% url 'automations_list' %}">Back to Automations</a></p>
    </body>
</html>
