<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Automations</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Automations</h1>

        <ul>
            {% for automation in automations %}
                <li>
                    <strong>{{ automation.name }}</strong> 
                    Trigger time: {{ automation.trigger_time }}
                    <a href="{% url 'automation_details' automation.id %}">View Details</a>
                    <form action="{% url 'delete_automation' automation.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% empty %}
                <li>No automations available.</li>
            {% endfor %}
        </ul>

        <p><a href="{% url 'add_automation' %}">Add Automation</a></p>
        <p><a href="{% url 'home' %}"> Back to Home </a></p>
    </body>
</html>
