<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <a href="{% url 'start' %}">back</a><br>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div>
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <button type="submit">Login</button>
    </form>
    
</body>
</html>
